@model IEnumerable<FinalProject_Eduhome.Models.TeachContact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
            <a href="@Url.Action("Delete","TeachContact", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
