@model FinalProject_Eduhome.ViewModels.HomeVM

@{
    ViewBag.Title = "Index";
    ViewBag.EduTitle = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Area Start -->
@{
    Html.RenderPartial("~/Views/Shared/Banner.cshtml", Model);
}
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area event-area three text-center pt-150 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    @foreach (var item in Model.Events)
                    {
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-event mb-60">
                                <div class="event-img">
                                    <a href="@Url.Action("Details","Event",new { id=item.Id})">
                                        <img src="~/Uploads/@item.Image" alt="event">
                                        <div class="course-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                    <div class="event-date">
                                        <h3>@item.EventDate.Day <span>@item.EventDate.ToString("MMM")</span></h3>
                                    </div>
                                </div>
                                <div class="event-content text-left">
                                    <h4><a href="event-details.html">@item.Title</a></h4>
                                    <ul>
                                        <li><span>time:</span> @item.EventTime</li>
                                        <li><span>venue</span> @item.City City</li>
                                    </ul>
                                    <div class="event-content-right">
                                        <a class="default-btn" href="@Url.Action("Details","Event",new { id=item.Id})">join now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right text-left">
                    <!-- Search Start -->
                    @{
                        Html.RenderPartial("~/Views/Shared/Search.cshtml", new FinalProject_Eduhome.ViewModels.SearchVM { Page = "Event" });
                    }
                    <!-- Search End -->
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="#">@item.Name (@(item.Events!=null ? item.Events.Count():0))</a></li>
                            }
                        </ul>
                    </div>
                    @{
                        Html.RenderPartial("~/Views/Shared/Sidebar.cshtml", Model.Blogs);
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Subscribe Start -->
@{
    Html.RenderPartial("~/Views/Shared/Subscribe.cshtml", new FinalProject_Eduhome.ViewModels.SubscribeVM { Page = "Event" });
}
<!-- Subscribe End -->