@model FinalProject_Eduhome.ViewModels.HomeVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.EduTitle = "Teachers / details";
}
<!-- Banner Area Start -->
@{
    Html.RenderPartial("~/Views/Shared/Banner.cshtml", Model);
}
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img src="~/Uploads/@Model.teacher.Image" alt="teacher" style="width: 100%;">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.teacher.FullName</h2>
                    <h5>@Model.teacher.Position.Name</h5>
                    <h4>about me</h4>
                    <p>@Model.teacher.About</p>
                    <ul>
                        <li><span>degree: </span>@Model.teacher.Degree</li>
                        <li><span>experience: </span>@Model.teacher.Experience experience</li>
                        <li><span>hobbies: </span>@Model.teacher.Hobbies</li>
                        <li><span>faculty: </span>@Model.teacher.Faculty</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="teacher-contact">
                    <h4>contact information</h4>
                    <p><span>mail me : </span>@Model.teachContact.Mail</p>
                    <p><span>make a call : </span>@Model.teachContact.Phone</p>
                    <p><span>skype : </span>@Model.teachContact.Skype</p>
                    <ul>
                        @foreach (var item in Model.TeachSocials.Where(t => t.TeacherId == Model.teacher.Id))
                        {
                            <li><a href="@item.Link"><i class="@item.IconClass"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="skill-area">
                    <h4>skills</h4>
                </div>
                <div class="skill-wrapper">
                    <div class="row">
                        @foreach (var item in Model.TeachSkills.Where(t => t.TeacherId == Model.teacher.Id))
                        {
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>@item.Name</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @item.Progress; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">@item.Progress</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teacher End -->
<!-- Subscribe Start -->
@{
    Html.RenderPartial("~/Views/Shared/Subscribe.cshtml", new FinalProject_Eduhome.ViewModels.SubscribeVM { Page = "TeacherDetails", ItemId = Model.teacher.Id });
}
<!-- Subscribe End -->
