@model FinalProject_Eduhome.ViewModels.HomeVM
@{
    ViewBag.Title = "Home Page";
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var item in Model.Slides)
        {
            <div class="single-slide item" style="background-image: url('/Uploads/@item.Image')">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@item.Title</h2>
                                        <p>@item.Subtitle </p>
                                        <a class="default-btn" href="@Url.Action("Index","About")">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }
    </div>
</section>
<!-- Background Area End -->
<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
                    <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
                    <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
                    <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
@{
    Html.RenderPartial("~/Views/Shared/About.cshtml", Model);
}
<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center" style="background-image: url('/Uploads/@ViewBag.About.PrllxImage')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/Uploads/@ViewBag.About.IconWhite" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("~/Views/Shared/Course.cshtml", Model.Courses);
        }
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@{
    Html.RenderPartial("~/Views/Shared/Notice.cshtml", Model.Events);
}
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/Uploads/@ViewBag.About.Icon" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Events)
            {
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-event mb-35 hidden-sm hidden-xs">
                        <div class="event-img">
                            <a href="@Url.Action("Details","Event",new { id=item.Id})"><img src="~/Uploads/@item.Image" alt="event"></a>
                        </div>
                        <div class="event-content text-left">
                            <h3>@item.EventDate.ToString("dd MMMM yyyy")</h3>
                            <h4><a href="@Url.Action("Details","Event",new { id=item.Id})">@item.Title</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>@item.EventTime</li>
                                <li><i class="fa fa-map-marker"></i>@item.City City</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" href="@Url.Action("Details","Event",new { id=item.Id})">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
@{
    Html.RenderPartial("~/Views/Shared/Testimonials.cshtml", Model.Testimonials);
}
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/Uploads/@ViewBag.About.Icon" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                Html.RenderPartial("~/Views/Shared/Blog.cshtml", Model.Blogs);
            }
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
@{
    Html.RenderPartial("~/Views/Shared/Subscribe.cshtml", new FinalProject_Eduhome.ViewModels.SubscribeVM { Page = "Home" });
}
<!-- Subscribe End -->